[submodule "themes/hugoplate"]
	path = themes/hugoplate
	url = https://github.com/Embedded-Focus/hugoplate.git
[submodule "themes/hugo-embed-pdf-shortcode"]
	path = themes/hugo-embed-pdf-shortcode
	url = https://github.com/Embedded-Focus/hugo-embed-pdf-shortcode.git
