/* Add your own custom styles here */

.dark {
  --color-primary: #24A3BF;
  --color-secondary: #F27F1B;
  --color-body: #fff;
  --color-border: #010326;
  --color-theme-light: #010326;
  --color-theme-dark: #24A3BF;
  --color-text: #fff;
  --color-dark: #fff;
  --color-light: #010326;
  --color-darkmode-light: #fff;
}

blockquote {
  @apply mt-0 mb-0 pt-0 pb-0;
}

.accordion-content {
  h3, h4, h5, h6, p {
    @apply pt-2 pb-2;
  }
}

.features {
  h3, h4, h5, h6, p {
    @apply pt-2 pb-4;
  }
}

@layer utilities {
  & :is(:where(pre code):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
    color: #ffffff !important;
  }
}

.form-input {
  @apply border border-primary p-3 w-full;
}

/* SWIPER */
.swiper-wrapper .swiper-slide {
  height: auto;
  .swiper-inner {
    height: 100%;
  }
}

.swiper-pagination-bullet-active {
  background-color: var(--color-light) !important;
}

.badge  {
  h3 {
    @apply text-light;
  }
}